<div id="content">
	Title: <%= @question.title%><br>
	Body: <%= @question.body%>
	<span id="itinerary_id" style="display:none"><%=@itinerary.id%></span>
  <div id="inner-content" class="white">
    <div id="calendar"></div>
  </div>
</div>