#calendar {
  width: 80%;
  margin: auto;
}

#add-event {
  float: left;
}

#add-comment {
  float: right;
}

.add {
  width: 45%;
  padding: 2%;
  background: #f5f2f1;
  border: 1px solid darken(#f5f2f1, 3%);
}
