<% if event_data.length == 0 and attraction_data.length == 0 %>
    No results found.
<% end %>

<% for event in event_data %>
    <div class="<%=event.id%>">
			<span class="name"><%= event.name %></span>
		</div>
<% end %>

<% for attraction in attraction_data %>
    <div class="<%=attraction.id%>">
			<span class="name"><%= attraction.name %></span>
		</div>
<% end %>
