<% if event_data.length == 0 and attraction_data.length == 0 %>
    No results found.
<% end %>

<% for event in event_data %>
    <div>event.name</div>
<% end %>

<% for attraction in attraction_data %>
    <div>attraction.name</div>
<% end %>
