<% for location in data %>
    <div class="result <%=location.id%>">
        <%= link_to "[pin]", "#" %> <span class="name"><%= location.full_name %></span>
    </div>
<% end %>

<% if data.empty? %>
No results found.
<% end %>

