/* Fonts
 * @fonts
 */
@font-face {
  font-family: 'AaarghNormal';
  src: url("../fonts/aaargh/Aaargh-webfont.eot");
  src: url("../fonts/aaargh/Aaargh-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aaargh/Aaargh-webfont.woff") format("woff"), url("../fonts/aaargh/Aaargh-webfont.ttf") format("truetype"), url("../fonts/aaargh/Aaargh-webfont.svg#AaarghNormal") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Global styles 
 * @global
 */
/* line 18, ../../app/stylesheets/global.scss */
body {
  font-family: "Myriad Pro", Helvetica, Arial, serif;
  color: #666;
  font-size: 13px;
}

/* line 23, ../../app/stylesheets/global.scss */
h1, h2 {
  font-weight: normal;
  color: #999;
}

/* line 27, ../../app/stylesheets/global.scss */
h1 {
  font-size: 1.5em;
}

/* line 30, ../../app/stylesheets/global.scss */
h2 {
  font-size: 1.2em;
}

/* line 33, ../../app/stylesheets/global.scss */
img {
  border: 0px;
}

/* line 36, ../../app/stylesheets/global.scss */
.clear {
  clear: both;
}

/* line 39, ../../app/stylesheets/global.scss */
.button {
  display: inline-block;
  padding: 0.5em;
  margin-right: 0.5em;
  font-family: AaarghNormal, Helvetica, Arial, serif;
  opacity: 0.8;
  cursor: pointer;
}
/* line 46, ../../app/stylesheets/global.scss */
.button:last-child {
  margin-right: 0;
}
/* line 48, ../../app/stylesheets/global.scss */
.button:hover {
  opacity: 1;
}

/* line 51, ../../app/stylesheets/global.scss */
.icon {
  display: inline-block;
  position: relative;
  top: 4px;
}

/* line 56, ../../app/stylesheets/global.scss */
a {
  color: #999;
}
/* line 58, ../../app/stylesheets/global.scss */
a:hover {
  color: #333;
}

/* line 61, ../../app/stylesheets/global.scss */
.popup {
  display: none;
}
