/* Global styles 
 * @global
 */

html, body {
    height: 100%;
}

body {
  font-family: "Myriad Pro", Helvetica, Arial, serif;
  color: #666;
  font-size: 13px; 
  background: #D3C8C1 url("../images/bg-main.jpg") repeat;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #999; }

h1 {
  font-size: 1.7em; }

h2 {
  font-size: 1.4em; }

img {
  border: 0px; }

.clear {
  clear: both; }

.button {
  display: inline-block;
  padding: 0.7em;
  margin-right: 0.5em;
  opacity: 0.8;
  cursor: pointer;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-box-shadow: 0 1px 1px 1px #dedede;
  -moz-box-shadow: 0 1px 1px 1px #dedede;
  box-shadow: 0 1px 1px 1px #dedede;

  &:last-child {
	  margin-right: 0; }
  &:hover {
    opacity: 1; } }

.icon {
  display: inline-block;
  position: relative;
  top: 2px; 
  margin-right: 5px;
}

a {
  color: #999;
  &:hover {
    color: #333; } }

.popup{
  display: none;
}

.loader {
    position: relative;
    top: 3px;
    margin-right: 5px;
}

.clickable {
    cursor: pointer;
}

.white {
    background: white;
    -webkit-box-shadow: 0 2px 5px 1px #CFC0BE;
    -moz-box-shadow: 0 2px 5px 1px #CFC0BE;
    box-shadow: 0 2px 5px 1px #CFC0BE;
}

.form {
    margin-top: 1em;

    label {
        text-transform: uppercase;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    }

    .field {
        padding-bottom: 0.5em;

        input {
            border: 1px solid #ccc;
            outline: none;
            border-radius: 3px;
            font-size: 1em;
            padding: 5px;
        }

        .field_with_errors {
            display: inline-block;
            color: red;
        }
    }
    

    label {
        width: 6em;
        display: inline-block;
    }
}
