#register {
    width: 30%;
    min-width: 400px;
    margin: auto;
    margin-top: 10%;
    padding: 2em;

    label {
        width: 8em;
    }

    .form {
        font-size: 1.3em;
    }

    .button {
        font-size: 1em;
        padding: 0.3em;
    }
}
