<h2 id="title">
    <%= @date %>
</h2>
<p>
You don't have any events planned yet.
</p>
<p>
Current location: <span id="current_location">Loading...</span> 
</p>
<div id="locations" class="addpane">
    <div class="heading">
        <span id="location_icon" class="icon"></span>
        <label>Add Locations</label>
    </div>
    <div class="search">
        <div class="panel">
            <input id="location_search" type="text" placeholder="Search"></input>
        </div>
        <div class="results">
            No results found.
        </div>
    </div>
</div>
<div id="attractions" class="addpane">
    <div class="heading">
        <span id="attractions_icon" class="icon"></span>
        <label>Add Events or Attractions</label>
    </div>
    <div class="search">
        <div class="panel">
            <input id="location_search" type="text" placeholder="Search"></input>
        </div>
        <div class="results">
            No results found.
        </div>
    </div>
</div>
<div id="meals" class="addpane">
    <div class="heading">
        <span id="meals_icon" class="icon"></span>
        <label>Add Meals</label>
    </div>
    <div class="search">
        <div class="panel">
            <input id="location_search" type="text" placeholder="Search"></input>
        </div>
        <div class="results">
            No results found.
        </div>
    </div>
</div>
