<h2 id="title">
    <%= @date %>
</h2>
<p>
You don't have any events planned yet.
</p>
<p>
Current location: <span id="current_location">Loading...</span> 
</p>
<div id="locations" class="addpane">
    <div class="heading">
        <span id="location_icon" class="icon"></span>
        <label>
		    <%= render :partial => "home/search_form", :locals => {:id => "locations", :value => "Search for a location ex. San Francisco"} %>
        </label>

    </div>
    <div class="search">
        <div class="results">
        </div>
    </div>
</div>
<div id="attractions" class="addpane">
    <div class="heading">
        <span id="attractions_icon" class="icon"></span>
        <label>
		    <%= render :partial => "home/search_form", :locals => {:id => "attractions", :value => "Search for events or attractions"} %>
        </label>
        <span class="near-label">
            within 10 miles of <span id="attractions-near">San Francisco</span>
        </span>
    </div>
    <div class="search">
        <div class="results">
        </div>
    </div>
</div>
<div id="meals" class="addpane">
    <div class="heading">
        <span id="meals_icon" class="icon"></span>
        <label>
		    <%= render :partial => "home/search_form", :locals => {:id => "meals", :value => "Search for something to eat"} %>
        </label>
        <span class="near-label">
            within 10 miles of <span id="meals-near">San Francisco</span>
        </span>
    </div>
    <div class="search">
        <div class="results">
        </div>
    </div>
</div>
