<h2 id="title">
    <%= @date %>
</h2>
<p>
You don't have any events planned yet.
</p>
<p>
Current location: Sunnyvale, CA
</p>
<div id="locations" class="addpane"></div>
<div id="attractions" class="addpane"></div>
<div id="events" class="addpane"></div>
<div id="people" class="addpane"></div>
