<h2 id="title">
    <%= @date %>
</h2>
<p>
You don't have any events planned yet.
</p>
<p>
Current location: Sunnyvale, CA
</p>
<div id="locations" class="addpane">
    <div class="heading">
        <span id="location_icon" class="icon"></span>
        Add Locations
    </div>
</div>
<div id="attractions" class="addpane">
    <div class="heading">
        <span id="attractions_icon" class="icon"></span>
        Add Events or Attractions 
    </div>
</div>
<div id="meals" class="addpane">
    <div class="heading">
        <span id="meals_icon" class="icon"></span>
        Add Meals 
    </div>
</div>
