<h2 id="title">
    <%= @date %>
</h2>
<p>
You don't have any events planned yet.
</p>
<p>
Current location: <span id="current_location">Loading...</span> 
</p>
<div id="locations" class="addpane">
    <div class="heading">
        <span id="location_icon" class="icon"></span>
        <label>Search Locations</label>
    </div>
    <div class="search">
        <div class="panel">
		    <%= render :partial => "home/search_form", :locals => {:id => "locations"}%>
        </div>
        <div class="results">
        </div>
    </div>
</div>
<div id="attractions" class="addpane">
    <div class="heading">
        <span id="attractions_icon" class="icon"></span>
        <label>Add Events or Attractions</label>
    </div>
    <div class="search">
        <div class="panel">
            <%= render :partial => "home/search_form", :locals => {:id => "attractions"}%>
        </div>
        <div class="results">
            No results found.
        </div>
    </div>
</div>
<div id="meals" class="addpane">
    <div class="heading">
        <span id="meals_icon" class="icon"></span>
        <label>Add Meals</label>
    </div>
    <div class="search">
        <div class="panel">
            <%= render :partial => "home/search_form", :locals => {:id => "meals"}%>
        </div>
        <div class="results">
            No results found.
        </div>
    </div>
</div>
