
        <span id="userbar-name"><%= "Welcome, " + current_user.name if current_user %></span>
				<% unless current_user%>
        <span id="userbar-options"><%= link_to "Log In", login_path %> | <%= link_to "Register", register_path %></span>
				<span id="userbar-facebook"><%= link_to (image_tag "fbconnect.gif"), "/facebook/auth"%></span>
				<%else%>
				[Logout]
				<%end%>

