<!doctype html>
<head>
    <title>Kakule Travel App</title>
</head>
<body>
    <div id="header"></div>
    <div id="content">
        <div id="calendar">
            <% render "calendar" %>
        </div>
        <div id="addpanel">
            <% render "addpanel" %>
        </div>
    </div>
</body>
</html>
