<div id="header">
    <div id="logo">
        <%= link_to(image_tag("kakule.png"), root_url) %>
    </div>
</div>
<div id="content">
    <div id="toppanel">
        <div id="calendar">
            <%= render "calendar" %>
        </div>
        <div id="right">
            <div id="savepanel">
                <%= render "savepanel" %>
            </div>
            <div id="addpanel">
                <%= render "addpanel" %>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div id="bottompanel">
    </div>
    
</div>
