<div id="left">
    <div id="search">
        <form class="search_form">
            <input id="location-search" type="text" placeholder="Find itineraries by keyword (ex. Paris or kid-friendly)" autocomplete="off"></input>
        </form>
    </div>
    <div id="content">
      [insert itineraries, stack overflow style]
    </div>
</div>
<div id="right" class="white">
  <div id="create-itinerary" class="inset-pink">Create New Itinerary</div>
  <div id="user-panel" class="sidebar-section">
    <div id="user-information">
      <div id="user-photo">
      </div>
      <span id="userbar-name">Welcome, <%= current_user.name %></span>
      <div id="user-actions">
        <% if current_user.is_guest? %>
          <span id="login"><%= link_to "Log In", login_path %> | <%= link_to "Register", register_path %></span>
        <% else %>
          <span id="settings">Settings</span>
          <span id="logout"><%= link_to "logout", :logout %></span>
        <% end %>

      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div id="notifications">
  </div>
  <div class="header inset-brown">Your Itineraries</div>
  <div id="your-itineraries" class="sidebar-section">
    No itineraries found.
  </div>
  <div class="header inset-brown">Friends' Itineraries</div>
  <div id="friends-itineraries" class="sidebar-section">
    No itineraries found.
  </div>
</div>
    <div class="clear"></div>
</div>
