
/* Home styles 
 * @home
 */

#wrapper {
  position: relative;
  top: 50px;
  width: 80%;
  min-width: 800px;
  margin: auto; 
}

#header {
  margin-bottom: 2em; 
}

#logo {
  float: left;
  width: 194px;
  height: 78px; 
}

#userbar {
    float: right;
    margin-top: 1em;
}

#search {
    width: 99.5%;
    margin-bottom: 1em;
    border: 1px solid #C4B6B2;
    border-radius: 1px;
    padding: 2px;
    
    background: white url("../images/icons/location_icon.png") no-repeat;
    background-position: 5px center;

    -webkit-box-shadow: inset 0 1px 1px 1px #dedede;
    -moz-box-shadow: inset 0 1px 1px 1px #dedede;
    box-shadow: inset 0 1px 1px 1px #dedede;

    input {
        width: 90%;
        border: 0px;
        outline: 0px;

        margin-left: 20px;
        font-size: 1.3em;
    }
}

#calendar {
    margin-bottom: 1em;
	table {
	  border-collapse: separate;
	  border-spacing: 5px;
	}
}

#left {
    float: left;
    width: 60%;
}

#content {
    height: 100%;
    background: white;
    border: 1px solid #C4B6B2;
    
    -webkit-box-shadow: 0 2px 5px 1px #CFC0BE;
    -moz-box-shadow: 0 2px 5px 1px #CFC0BE;
    box-shadow: 0 2px 5px 1px #CFC0BE;
}

#right {
    float: right;
    width: 35%;
    border: 1px solid #C4B6B2;
    background: white;
    -webkit-box-shadow: 0 2px 5px 1px #CFC0BE;
    -moz-box-shadow: 0 2px 5px 1px #CFC0BE;
    box-shadow: 0 2px 5px 1px #CFC0BE;
}

/* New tutorial styles
 * @new
 */

#landing {
    min-width: 518px;
    margin: auto;    
    padding: 1em;
}

.landing_icon {
    display: inline-block;
    width: 150px;
    padding: 10px;
    height: 90px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    opacity: 0.5;
    cursor: pointer;
}

.landing_icon:hover {
    opacity: 1;
}

/* Right panel styles 
 * @right 
 */

#right-calendar {
    padding: 1em;
}

#itinerary-day {
    padding: 1em;
}

#itinerary-title {
  margin: 0.5em 0.8em; 
  height: 1.2em;
}

#itinerary-name {
    display: inline-block;
    min-height: 15px;
    .inplace_form {
        position: relative;
        left: -5px;
        top: -5px;

        input {
            font-size: 0.9em;
            outline: 0px;
            border: 0px;
        }
    }

}

.itinerary-name-icon {
    background: url("../images/icons/edit_icon.png") no-repeat;
    background-position: right top;
    padding-right: 20px;
}

.itinerary-name-noicon {
}

#edit-icon:hover {
    opacity: 1;
}

.place-header {
    padding: 1em;
}

.place-description {
    margin-top: 1em;
}

.header {
    padding: 0.8em;
    padding-left: 1em;
    text-transform: uppercase;
}

.place-content {
    padding: 1em;
}

#current_location {
  color: #333; 
}

.event {
    padding: 0.5em;
}

.event-thumbnail {
    height: 50px;
    width: 50px;
    background: #ccc;
    overflow: hidden;
    float: left;
}

.event-information {
    position: relative;
    margin-left: 50px;
    padding: 0.5em;

    .name {
        display: block;
    }

    .distance {
        display: block;
        font-size: 0.9em;
        color: #bbb;
    }

    .add-event {
        position: absolute;
        top: 0px;
        right: 0px;
    }
}

#savepanel {
  padding: 1em;

  .button {
    text-transform: uppercase;
    text-align: center; 
  }
}

.highlight {
  background: $light_yellow; }

#session{
	position: relative;
  .popup{
		position: absolute;
		background: white;
		top: 0.8px;
		left: 70px;
		z-index: 9999;
		border: 1px solid #CCC;
		padding: 5px;
	}
}
