
/* Home styles 
 * @home
 */

#wrapper {
  position: relative;
  top: 50px;
  width: 80%;
  min-width: 800px;
  margin: auto; 
}

#header {
  margin-bottom: 2em; 
}

#logo {
  float: left;
  width: 192px;
  height: 29px; 
}

#userbar {
    float: right;
    margin-top: 1em;
}

#search {
    width: 99.5%;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 1px;
    padding: 2px;
    
    background: url("../images/icons/location_icon.png") no-repeat;
    background-position: 5px center;

    -webkit-box-shadow: inset 0 1px 1px 1px #eee;

    input {
        width: 90%;
        border: 0px;
        outline: 0px;

        margin-left: 20px;
        font-size: 1.3em;
    }
}

#calendar {
	table {
	  border-collapse: separate;
	  border-spacing: 5px;
	}
}

#left {
    float: left;
    width: 60%;
}

#content {
    height: 100%;
    background: white;
    border: 1px solid #ccc;
}

#right {
    float: right;
    width: 35%;
    padding: 1.5%;
    border: 1px solid #ccc;
}

/* New tutorial styles
 * @new
 */
#new-to-kakule {
    display: none;
    margin: auto;
    height: 100px;
    background: #EBFCF9;

    padding: 1em;
    margin-bottom: 1em;

    h2 {
        color: #999;
        margin: 0px;
        font-size: 1.5em;
    }

    .button {
        background: #D3E9E9;
        color: #5EBFC5;
        text-transform: uppercase;
        text-align: center;

        float: right;
    }
}

#information {
}

/* Right panel styles 
 * @right 
 */

#itinerary-title {
  margin: 0.5em 0.8em; 
  height: 1.2em;
}

#itinerary-name {
    display: inline-block;
    min-height: 15px;
    .inplace_form {
        position: relative;
        left: -5px;
        top: -5px;

        input {
            font-size: 0.9em;
            outline: 0px;
            border: 0px;
        }
    }

}

.itinerary-name-icon {
    background: url("../images/icons/edit_icon.png") no-repeat;
    background-position: right top;
    padding-right: 20px;
}

.itinerary-name-noicon {
}

#edit-icon:hover {
    opacity: 1;
}

#addpanel {
  width: 320px;
  background: #f3f3f3;
  border: 1px solid #ededed;
  min-height: 240px;
  padding: 15px;

  #title {
    border-bottom: 1px solid #dedede;
    margin: 1px 0; 
  } 

  p{
	  margin: 12px 0;
  }
}

#current_location {
  color: #333; 
}

.addpane {
  margin-bottom: 15px;

  .results {
	  div:hover, div.selected {
        background: #CCC; 
      } 
  }
}

#addpanel {
  .heading {
    margin-bottom: 5px;
    &:hover {} 
    label{
        display: inline-block;
        width: 80%;
    }
  }
  .search {
    margin-left: 1.6em } 
}

#locations .search {
  display: block; }

.search {
  margin-left: 10px; }

.search_field {
  padding: 5px;
  width: 100%;
  margin-left: 5px;

  outline: 0px;
  border: 1px solid #eee; 
  border-radius: 2px;
}

#location_icon {
    width: 11px;
    height: 16px;
    background: url("../images/icons/location_icon.png");
}

.location-pin, #location-change {
    color: $red;
    cursor: pointer;
}

#pinned_location {
    display: none;
    margin-left: 8px;
}

.near-label {
    display: none;
    font-size: 0.9em;
    margin-left: 2em; 
}

#search_locations {
    color: $red;
}

#attractions_icon {
    width: 13px;
    height: 15px;
    background: url("../images/icons/attraction_icon.png");
}

#search_attractions {
    color: $light_teal;
}

#meals_icon {
    width: 11px;
    height: 16px;
    background: url("../images/icons/food_icon.png");
}

#search_meals {
    color: $light_orange;
}

#savepanel {
  margin-top: 1em;

  .button {
    width: 44.5%;
    background: #D3E9E9;
    color: #5EBFC5;
    text-transform: uppercase;
    text-align: center; 
  }
}

.highlight {
  background: $light_yellow; }

#session{
	position: relative;
  .popup{
		position: absolute;
		background: white;
		top: 0.8px;
		left: 70px;
		z-index: 9999;
		border: 1px solid #CCC;
		padding: 5px;
	}
}
